# PostgreSQL Supabase Database Connections
DATABASE_URL="postgresql://postgres:VUWN-Vg6VaZTZLR@db.ocfojiexrctwxcvbbvom.supabase.co:5432/postgres"

# NextAuth Security & Application Domain
NEXTAUTH_SECRET="4qK8zW09V3bX7yL2n1P5mR8tU6jC3sF0"
NEXTAUTH_URL="https://swapea-one.vercel.app"
NEXT_PUBLIC_APP_URL="https://swapea-one.vercel.app"

# Cloudinary Image Upload Service
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="g3v5rbsk"
CLOUDINARY_CLOUD_NAME="g3v5rbsk"
CLOUDINARY_API_KEY="837848327556663"
CLOUDINARY_API_SECRET="U3I9y55HYVXGBM1gPyaYYQt0n5o"

# Real-time WebSockets (Pusher)
PUSHER_APP_ID="mock_pusher_id"
PUSHER_KEY="mock_pusher_key"
PUSHER_SECRET="mock_pusher_secret"
PUSHER_CLUSTER="mt1"
NEXT_PUBLIC_PUSHER_KEY="mock_pusher_key"
NEXT_PUBLIC_PUSHER_CLUSTER="mt1"
